:root {
  --header-link-color: #0B697B;
  --btn-link-color: #169DAA;
}

.banner .illustration {
  right: 0px !important;
}

.banner h1 {
  font-size: 45px;
}

.content li {
  list-style: circle inside !important;
}

.content ul li::before {
  content: "" !important;
}

.section h1 a,
.section h2 a,
.section h3 a,
.section h4 a,
.section p a {
  color: var(--header-link-color) !important;
}

.btn-transparent {
  color: var(--btn-link-color) !important;
  border-bottom: 1px solid var(--btn-link-color) !important;
}

.section a:hover {
  color: var(--btn-link-color) !important;
}

.navbar a:hover {
  color: var(--btn-link-color) !important;
}
